.App {
  text-align: center;
  box-sizing: border-box;
}

input {
  padding: 8px 16px;
  width: 30%;
  background-color: rgba(127, 255, 212, 0.801);
  border: 2px solid lightgray;
  border-radius: 3px;
}

.text {
  display: block;
  background-color: rgba(211, 211, 211, 0.651);
  padding: 16px;
  height: 100px;
  width: 30%;
  margin: 20px auto;
  border-radius: 3px;
}

.validation {
  display: block;
  width: 30%;
  padding: 8px 16px;
  margin: 20px auto;
  border-radius: 3px;
}

.char {
  display: inline-block;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border: 1px solid black;
  border-radius: 100%;
}